<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.1"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>mydispatcher</servlet-name>
    <!--      //The servlet class is DispatcherServlet, the core of Spring MVC.-->

    <!--      It handles all incoming HTTP requests and forwards them to appropriate controllers.-->
    <servlet-class>
      org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/springconfig.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <!--      //Ensures that the DispatcherServlet is loaded when the server starts-->
    <!--      //1 means load at startup-->
    <servlet-name>mydispatcher</servlet-name>
    <!--      Maps all incoming URLs (/) to the mydispatcher servlet.-->


    <!--      That means all requests go through the DispatcherServlet → then it decides which controller to call.-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
